.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.88);
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  /* Modifiers */
  /* States */
}
.modal__dialog {
  position: relative;
  max-width: 500px;
  padding: 20px;
  margin: auto;
  border-radius: 4px;
  background-color: #fff;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  color: #ccc;
  background-color: transparent;
  background-image: none;
}
.modal__close:focus {
  outline: 0;
}
.modal__header {
  border-bottom: 1px solid #e2e2e2;
}
.modal__title {
  margin: 0 0 15px;
}
.modal__content {
  padding: 10px 0;
  font-size: 13px;
  line-height: 1.6;
  color: #555;
}
.modal--fullscreen {
  padding: 5px;
}
.modal--fullscreen .modal__dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  border-radius: 0;
}
.modal.is-modal-active {
  display: -webkit-box;
  display: flex;
}
/* Animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*------------------------------------------------*/
/*                      Les Boutons               */
/*------------------------------------------------*/
.annuler {
  text-decoration: none;
  padding: 7px;
  font-size: 1.1em;
  color: #FFFFFF;
  background-color: #92d050;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
}


.annuler:hover {
  padding: 8px;
  background-color: #899F11;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.valider {
  text-decoration: none;
  padding: 7px;
  font-size: 1.1em;
  color: #FFFFFF;
  background-color: #ff0000;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
}


.valider:hover {
  padding: 8px;
  background-color: #c00000;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.modif {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
}

.modif__btn {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #333;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  background-color: transparent;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  margin-bottom: 10px;
}
.modif__btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.modif__btn:focus,
.modif__btn:active {
  outline: 0;
}
.modif__btn_ {
  border: 1px solid #e2e2e2;
}

/*------------------------------------------------*/
/*                   Popup Perso                  */
/*------------------------------------------------*/

#fenetre {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
}

.popup{
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
}
.text__popup{
  min-width: 600px;
  width: 600px;
  min-height: 150px;
  margin: 100px auto;
  background: #f3f3f3;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
}

.text__popup a{
  text-decoration: none;
  clear: both;
  font-size: 20px;
  font-family: sans-serif;
  color: #d91900;
  font-weight: bold;
}