/*!
*Contenue de la navbar
 */

.lien a:link {
    color:white;
    background-color:transparent;
    text-decoration:none;
}

.lien a:visited {
    color:white;
    background-color:transparent;
    text-decoration:none;
}

.lien a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.lien a:active {
    color:black;
    background-color:transparent;
    text-decoration:nome;
}

.navmenu,
.navbar-offcanvas {
    background-color: #292a2e;
    width: 300px;
    height: auto;
    color: white;
}

.navmenu-fixed-left,
.navmenu-fixed-right,
.navbar-offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1050;
    overflow-y: auto;
    border-radius: 0;
}

.navmenu-fixed-left,
.navbar-offcanvas.navmenu-fixed-left {
    right: auto;
    left: 0;
}

.navmenu-fixed-right,
.navbar-offcanvas {
    right: 0;
    left: auto;
}

@media (min-width: 768px) {
    .navbar-offcanvas {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .navbar-offcanvas.offcanvas {
        position: static;
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}
.offcanvas {
    display: none;
}

.offcanvas.in {
    display: block;
}

@media screen and (max-width: 767px) {
    .offcanvas-xs {
        display: none;
    }

    .offcanvas-xs.in {
        display: block;
    }
}
@media screen and (max-width: 991px) {
    .offcanvas-sm {
        display: none;
    }

    .offcanvas-sm.in {
        display: block;
    }
}
.offcanvas-lg {
    display: none;
}

.offcanvas-lg.in {
    display: block;
}

.canvas-sliding {
    -webkit-transition: top 0.35s, left 0.35s, bottom 0.35s, right 0.35s;
    transition: top 0.35s, left 0.35s, bottom 0.35s, right 0.35s;
}

.offcanvas-clone {
    position: absolute !important;
    top: auto !important;
    right: 0 !important;
    bottom: 0 !important;
    left: auto !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    border: none !important;
    opacity: 0 !important;
}

html,
body {
    height: 100%;
}

body {
    padding: 50px 0 0 0;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 992px) {
    body {
        padding: 0;
    }
    .navbar {
        right: auto;
        background: none;
        border: none;
    }
}


/*!
*Contenue du footer
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
body {
    display : table;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative; /* le body doit au minimum être en relative */
}

footer {
    background-color: #292a2e;
    padding: 25px;
    display : table-row;
    height: 30px; /* à titre d'exemple */
    color: white;
    margin-top: 100%;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}